
<link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">

<div class="home">

    <%= link_to "Manage Drivers", drivers_path, class:"links"%>
    <%= link_to "Manage Passengers", passengers_path, class:"links"%>

  <div class="bottom"><%= image_tag "road.jpg", alt: "road" %></div>

</div>
