// Place all the styles related to the passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  color: #003366;
  text-decoration: none;
}

.passengers, .drivers {
  display: grid;
  list-style-type: none;
  border: solid black 2px;
  border-radius: 5px;
  grid-template-columns: 200px auto 50px 50px;
  padding: 8px;
}

.passengers:hover, .drivers:hover {
  background-color: #CCCCCC;
}

.passengers a:hover, .drivers a:hover {
  color: white;
}

.passengers_show th, .passengers_show td, .drivers_show th, .drivers_show td, .trip_show th, .trip_show td {
  padding: 5px 25px 5px 10px;
  text-align: left;
}

.button {
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-left: 10px;
}

h2 {
  font-size: 2em;
}

.intro {
  margin: 10px;
  padding: 10px 0px 10px 0px;
  display: grid;
}
