// Place all the styles related to the passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  display: grid;
  list-style-type: none;
  border: solid black 2px;
  grid-template-columns: auto 50px 50px;
  padding: 8px;
}
